* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
}

/* navbar */
.navbar-brand {
  /* font-family: "Playfair Display", serif; */
  font-size: 3rem;
}

.nav-link {
  font-size: 1.8rem;
  text-align: center;
  /* font-family: "Roboto", sans-serif; */
}

/* .social-nav{
    padding-top:3rem;
    text-align: center;
  } */


  main{
    width:95%;
     border:1px solid red;
     margin: 0 auto;
  }

  /* index.html */

  .hero h1{
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: normal;

  }

  .hero p{
    font-size: 1.6rem;
  }


  .hero p a{
    color:black;
    font-weight: light;
  }


  .latest h2{
    font-size: 2.1rem;
   
    
  }

  .latest p{
    font-size: 1.5rem;
    text-align: right;
  }
  @media screen and (min-width: 800px){
    /* navbar */

  .nav-link::after {
    content: "";
    display: block;
    background: red;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: transform 1s ease;
    transform-origin: left;
    transition: ease-in-out 500ms;
  }
 

  .nav-link:hover::after {
    transform: scale(1);
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-item{
    padding-right:2rem;
  }

  .nav-active {
    /* color:red; */

    font-weight: bold;
    transition: ease 1s;
  }

  /* .social-nav{
   padding-top:0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 100ms ease-in-out;

  }
 
  .social-nav a:hover{
    transform: translateY(-.2rem);
  } */
  }