---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="about">
    <h2>
      Hi, I am Dakota. "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus lacinia odio vitae vestibulum vestibulum, sed auctor.
    </h2>

    <p class="bio">
      <span>
        Here's a **Lorem Ipsum** passage with exactly 150 words: Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt, nisi a
        egestas ultrices, lacus purus convallis neque, sit amet fringilla libero
        sapien non nunc. Aenean quis felis vestibulum, pulvinar nulla ac,
        posuere augue. In a risus id odio faucibus tempor in nec orci. Nulla at
        velit et ligula tristique scelerisque id quis nulla.
      </span>

      <span>
        Vivamus hendrerit orci at neque egestas, non pharetra urna fringilla.
        Sed vehicula urna sit amet felis sodales, id lacinia ex sollicitudin.
        Duis vehicula elit sed purus ultricies, vitae pharetra sapien fermentum.
        Fusce vestibulum lorem at convallis ultricies.
      </span>

      <span>
        Integer tristique tortor vel orci placerat, id eleifend risus cursus.
        Proin efficitur erat et felis fermentum, ut dictum lectus pellentesque.
        Nullam ac lacus et metus sollicitudin suscipit. Suspendisse dictum,
        sapien nec vestibulum accumsan, felis libero dictum turpis, vel luctus
        nisi mi et lorem. Praesent ornare turpis et massa convallis
        sollicitudin.
      </span>
    </p>

    <div class="about_contact">
      <a href="/contact">Need a Mural?</a>
    </div>

    <div class="profile_picture">
      <img src="/images/profile.jpg" alt="" />
    </div>
  </section>
</MainLayout>
