---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="gallery" >
    <h1>Latest Work</h1>
    <section id="lightgallery">
      <a href="/images/1.jpg">
        <img src="/images/1.jpg" alt=""  class="scroll"/>
      </a>

      <a href="/images/2.jpg">
        <img src="/images/2.jpg" alt="" class="scroll"/>
      </a>

      <a href="/images/3.jpg">
        <img src="/images/3.jpg" alt="" class="scroll"/>
      </a>

      <a href="/images/4.jpg">
        <img src="/images/4.jpg" alt="" class="scroll"/>
      </a>

      <a href="/images/5.jpg">
        <img src="/images/5.jpg" alt="" class="scroll"/>
      </a>

      <a href="/images/6.jpg">
        <img src="/images/6.jpg" alt="" class="scroll"/>
      </a>
    </section>
  </section>
</MainLayout>
