---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
    <section class="gallery">
        <h1>Latest Work</h1>
        <section>
          <img src="/images/1.jpg" alt="">
          <img src="/images/2.jpg" alt="">
          <img src="/images/3.jpg" alt="">
          <img src="/images/4.jpg" alt="">
          <img src="/images/5.jpg" alt="">
          <img src="/images/6.jpg" alt="">
        </section>
    </section>
</MainLayout>