---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="hero">
    <p>
      Hi, I am Dakota. "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus lacinia odio vitae vestibulum vestibulum, sed auctor.
    </p>
  </section>
</MainLayout>
