---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="hero">
    <h1>
      Hi, I am Dakota. "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus lacinia odio vitae vestibulum vestibulum, sed auctor.
    </h1>

    <p>Let's Talk. <a href="/contact">Say Hello!</a></p>
  </section>

  <section class="latest">
    <h2>Latest Artworks</h2>

    <section class="latest_artwork">
      
      <div>

        <div class="mural">
          <img src="/images/mural.jpg" alt="" />
        </div>


        <div class="latest_description">
          <h2>Lorem</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit
            repellendus voluptatibus optio deleniti quia incidunt adipisci sunt
            nulla animi placeat ullam, quaerat veritatis libero vel, omnis,
            saepe asperiores eius rem.
          </p>
        </div>
      </div>

      <div>
        <div class="mural">
          <img src="/images/mural.jpg" alt="" />
        </div>

        <div class="latest_description">
        <h2>Lorem</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsam,
          in voluptatum, libero natus provident corporis deserunt blanditiis
          mollitia harum optio ducimus accusantium quia ipsa. Vero, a enim!
          Fugiat, nostrum!
        </p>
      </div>
      </div>

      <div>
        <div class="mural">
          <img src="/images/mural.jpg" alt="" />
        </div>

        <div class="latest_description">
        <h2>Lorem</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          minus fugiat doloribus ipsa provident ipsam, quas suscipit delectus,
          eius quos repellat, ipsum laborum! Blanditiis asperiores autem neque.
          Rem, quos necessitatibus.
        </p>
        </div>
      </div>
     
    </section>
  </section>
</MainLayout>
